.cuadrado {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    
}

.rombo {
    width: 100px;
    height: 100px;
    background-color: #a52a2a;
    margin-left: 20px;
    transform: rotate(45deg);
}

.paralelogramo {
    width: 150px;
    height: 100px;
    background-color: #a52a2a;
    margin-left: 20px;
}

.triangulo {
    width: 0px;
    height: 0px;
    margin-left: 20px;
    border-left: 50px solid yellow;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid yellow;
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #a52a2a;
}
.circulo2 {
    width: 0px;
    height: 0px;
    margin-left: 20px;
    border-radius: 100%;
    border-left: 50px solid yellow;
    border-top: 50px solid yellow;
    border-right: 50px solid transparent;
    border-bottom: 50px solid yellow;
}
.diamante {
    width: 100px;
    height: 80px;
    background-color: brown;
    margin-left: 20px;
    clip-path: polygon(50% 100%, 100% 50%, 75% 0%,25% 0%, 0% 50%);
}  