.texto_corriendo {
    padding: 5px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    animation-name: moviemiento;   
    animation-duration: 10s;
    animation-direction: alternate
    animation-iteration-count: infinite;
}

@keyframes moviemiento {
from   {
    margin-left: 100%;
    width: 300%;
}
to {
    margin-left: 0px;
    width: 100%; 
}