* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header {
    background-color: firebrick;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}

main {
    display: grid;
    min-height: 74vh;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 100px;
    grid-template-areas: "my-nav" "my-section" "my-aside";
}

nav {
    background-color: lightcoral;
    grid-area: my-nav;
}

section {
    background-color: pink;
    grid-area: my-section;
}

aside {
    background-color: lightcoral;
    grid-area: my-aside;
}

