header{
    background-color: firebrick;
    color:  white;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
main{
    display: grid;
    min-height: 70vh;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 100%;
    grid-template-areas: "my-nav my-section my-aside";
}
nav{
    background-color: lightcoral;
    grid-area: "my-nav";
}
aside{
    background-color: lightcoral;
}
section{
    background-color: pink;
    grid-area: my-section;
}
aside{
    background-color: lightcoral;
    grid-area: my-aside;
}

nav,
section,
aside{
    padding: 20px;
    font-size: border-box;
}
footer{
    background-color: darkred;
    color:white;
    text-align: center;
    line-height: 60px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}