/*.grid{
    display: grid;
    grid-template-columns: 50px 300px;
    grid-template-rows: 200px 75px;
}*/

/*.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;}*/

.grid{
    display: grid;
    grid-template-columns: "head head" "menu y contenido" "foot foot";
    grid-template-rows: 2fr 1fr;
}

.a {
    background-color: blue;
}

.b{
    background-color: red;
}

.c{
    background-color: green;
}

.d{
    background-color: orange;
}


