* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: white;
    color: #222;
}

header {
    background-color: firebrick;
    color: white;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

main {
    display: grid;
    min-height: 70vh;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 100%;
    grid-template-areas: "my-nav my-section my-aside";
}

nav {

    background-color: lightcoral;
    grid-area: my-nav;