.size {
    height: 1660px;
    width: 100px;
}

#caja1 {
    background-color: red;
}

#caja2 {
    background-color: blue;
}

#caja3 {
    background-color: green ;
    position: fixed;
    top: 60;
    left: 100px;
}

#caja4 {
    background-color: yellow ;
    position: fixed;
    top: 60px;
    left: 200px;
}