body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

input {
    display: block;
    margin: 10px;
}

.formulario {
    background-color: rgb(229, 229, 229);
}

.contactos {
    background-color: blanchedalmond;
}

h2 {
    text-align: center;
    color: #333;
    margin: 0px;
}

header h1{
text-align: center;
}

.formulario,
.agenda {
    width: 350px;
    margin: 0 auto;
    padding: 10px;
}